



<!--<script type="text/javascript" src="/js/course.js"></script>-->
<script type="text/javascript" src="course.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/joi@17.1.1/dist/joi-browser.min.js"></script>
<script type="text/javascript" src="script.js"></script>


<footer>
<div class="container-flug-darkid my-4 border-top">    
    <div class="page-footer  my-4">
        <div class="bg-success">
            <div class="container-fluid my-4 "> 

           <div class="row py-4 d-flex align-items-center">
               <div class="col-md-12 text-center">
                   <a href="#"><i class="fa fa-whatsapp text-white mx-3" aria-hidden="true"></i>
                   </a>
                   <a href="#"><i class="fa fa-google-plus text-white mx-3" aria-hidden="true"></i></a>
                  

                   </a>
                   <a href="#"><i class="fa fa-instagram text-white mx-3" aria-hidden="true"></i>
                   </a>

               </div>

           </div>
        </div>
    </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
              <div class="col-md-3 mx-auto mb-4">
                <div class="text-uppercase font-weight-bold">services
                </div>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:80px;height:2px">
                <p class="mt-2 text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                            by injected humour
                            , or randomised words which don't look even slightly believable. 
                 </p>
 
            </div>
       

        <div class="col-md-2 mx-auto mb-4">
            <div class="text-uppercase font-weight-bold">Quick links</div>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:95px;height:2px">
            <ul class="list-unstyled ">
                <li class="my-2 text-muted"><a href="#">Home</a></li>
                <li class="my-2"><a href="#">Blog</a></li>
                <li class="my-2"><a href="#">Services</a></li>
                <li class="my-2"><a href="#">Contact us</a></li>
            </ul>

        </div>
   

       <div class="col-md-3 mx-auto mb-4">
          <div class="text-uppercase font-weight-bold">Contact us</div>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:103px;height:2px">
               <p class="mt-2 text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                  by injected humour
                   , or randomised words which don't look even slightly believable. 
              </p>

            </div>
        </div>
  </div>
</div>


</footer>
   <!--<hr class="my-3"
       <div class="d-flex flex-column flex-md-row justify-content-between">
           <div class="row">
           <div class="col-md-3">
              <h5 class="col">
               about us
              </h5>
                    <div><a href="#">where to find us</a></div>
                    <div><a href="/course/new">add clothes product</a></div>
                    <div><a href="#">improve with us</a></div>
                    <div><a href="#">feedbacks</a></div>
                    
           
           </div>
           <div class="col-md-3">
                   <h5 class="col mx-0">
               contact us
                    </h5>
                        <div class="mx-4"><a href="#">via email</a></div>
                        <div class="mx-4"><a href="#">whatsapp</a></div>
                        <div class="mx-4"><a href="#">instagram</a></div>
                        <div class="mx-4"><a href="#">telphone</a></div>
               </div>
           </div>-->
    </div>


 </body>

</html>