<%- include("./partials/header") %>
<div class="container">

<form class="was-validated">
    <div class="mb-3">
      <label for="validationTextarea">Textarea</label>
      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>
</div>

    <%- include("./partials/footer") %>