
<%- include("./partials/header") %>
<div class="container below-nav">
    <a href="/login"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
<div>
  
    <h1 style="text-align: center">ADD new courses</h1>

    <div class="row">
        
        <div style="width: 50%; margin: 25px auto;">
            <form action="/course" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
                <div class="form-group">
                    <input class="form-control" type="text" name="course[name]" placeholder="name">
                    <div class="invalid-feedback">
                        Please Enter name of course.
                      </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[subject]" placeholder="subject">
                    <div class="invalid-feedback">
                        Please Enter course subject.
                      </div>
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="image" multiple>
                    
               
                    <div class="invalid-feedback">
                        Please upload image course
                      </div>
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="video" multiple>
                    <div class="invalid-feedback">
                        Please upload course video.
                      </div>
                </div>
                <div class="form-group">

                    <div class="form-group">
                        <input class="form-control" type="number" name="course[contentNo]" placeholder="Content Number">
                        <div class="invalid-feedback">
                            Please Enter course number.
                          </div>
                    </div>
                    <textarea class="form-control" type="text" name="course[description]" placeholder="Course description"></textarea>
                    <div class="invalid-feedback">
                        Please Enter short description of the course.
                      </div>
                </div>
            
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/course">Go Back</a>
        </div>
    </div>
</div>
</div>


<%- include("./partials/footer") %>