
<%- include("./partials/header") %>
<div class="container below-nav">
<div>
    <h1 style="text-align: center">ADD new courses</h1>

    <div class="row">
        
        <div style="width: 30%; margin: 25px auto;">
            <form action="/course" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
                <div class="form-group">
                    <input class="form-control" type="text" name="course[name]" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[subject]" placeholder="subject">
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="image" multiple>
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="video" multiple>
                </div>
                <div class="form-group">

                    <div class="form-group">
                        <input class="form-control" type="number" name="course[contentNo]" placeholder="Content Number">
                    </div>
                    <input class="form-control" type="text" name="course[description]" placeholder="Course description">
                </div>
            
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/course">Go Back</a>
        </div>
    </div>
</div>
</div>


<%- include("./partials/footer") %>