<%- include("./partials/header") %>
<div class="container below-nav">
    <a href="/login"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <h1 id="head-text">sign up</h1>

    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="row">
         
          <div class="col-md-6">
              <label class="text-dec" for="username">username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="enter your username" required>
                <div class="invalid-feedback">
                </div>
          
        <div class="form-group my-4">
          <label class="text-dec" for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email"  placeholder="valid email adress" required>
          
       <div class="invalid-feedback">
        </div>
        </div>


      <div class="form-group my-4">
        <label class="text-dec" for="mobileNumber">Mobile Number</label>
        <input type="number" name="mobileNumber"class="form-control" id="mobileNumber" placeholder="mobile Number" required/>
        <div class="invalid-feedback"></div>
      </div>

          <div class="form-group my-4">
            <label class="text-dec" for="password">create password</label>
           
            <input type="password" id="password" class="form-control" name="password" placeholder="create password" required>
           
           <!--<div class="toggle-password">
              <i class="fa fa-eye"></i>
              <i class="fa fa-eye-slash"></i>
            </div>--> 
            <div class="invalid-feedback">
  
            </div>
          <!--
            <div class="password-policies">
              <div class="policy-length">
               must atleast have 8 Characters
              </div>
              <div class="policy-number">
                must atleast Contains one Number
              </div>
              <div class="policy-uppercase">
               must Contains Uppercase
              </div>
              <div class="policy-special">
               must have Contains Special Characters
              </div>
            </div>
          -->
          </div>

          
          <div>
            <button  type="submit" class="btn btn-primary my-4 md-6">SIGN UP</button>
          </div>
          <a href="/login" class="md-ml-2 mb-4">already a member! login</a>
        </div>
         
    
        
      </form>
     
</div>
<%- include("./partials/footer") %>
